.stepper-container {
    position: relative;
    display: flex;    
    align-items: center;
    justify-content: flex-start;    
    flex-direction: column;    
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;    
    }
    
    .stepper-background {
    background-image:  url("/public/img-home.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    right: 0px;
    }
    
    .stepper-container img {
        width: auto;        
        height: 10rem;
    }

    .stepper-container a {
        text-decoration: none;      
        margin-top: 20px;  
        font-size: 2rem;        
    }
    
    .stepper-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0vh;
        width: auto;
    }
    
    .stepper-middle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        height: auto;
    }
    
    .stepper-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .stepper-container form {        
        display: flex;                
        flex-direction: column;  
        width: 100%;          
    }
    
    .stepper-container h1 {
        font-size: 2.5rem;    
        text-align: center;
    }
    
    .stepper-container button {  
        margin-top: 3rem;  
        color: white;
        font-size: 2rem;
        background-color: var(--global-primary-color);
        width: 22rem;
        height: 5rem;
        border-radius:  var(--global-border-radius);    
        cursor: pointer;
        border: 1px solid var(--global-primary-color);
        align-self: center;            
    }
    
    .stepper-container button:hover {    
        color: var(--global-primary-color); 
        background-color: var(--global-bg-color);    
        border-color: var(--global-border-color);
    }    

    .stepper-container label {        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 400px;
        min-width: 400px;
        border: var(--global-border);
    }

    .with-margin-top {       
        
        margin-top: 1rem;
    }

    .without-border {
        border: none!important;
    }

    .stepper-container label svg {        
     font-size: 1.2rem;
     margin-left: 0.5rem;
    }

    .stepper-container label.error {
        border: 1px solid var(--global-error-color);
    }

    .stepper-container input {
        padding: 0.8rem;
        font-size: 1.2rem;
        width: 85%;  
        border: 0px;  
        justify-content: flex-end;          
    }  

    .stepper-container select:focus,
    .stepper-container input:focus {
        outline: none;      
    }  
    
    .stepper-container input.error {
        border: 1px solid var(--global-error-color);
    }

    .stepper-middle select {
        padding: 0.9rem;
        font-size: 1.2rem;
        width: 88%;
        color: var(--global-select-option-color);        
        border: 0px;        
    } 
    
    .stepper-container select.error {
        border: 1px solid var(--global-error-color);
    }

    @media (min-width: 900px)
    {    
        .stepper-container button {   
            font-size: 1.2rem;
            width: 15rem;
            height: 3.5rem;          
        }

        .myCheckbox {
            max-width: 600px;
        }
    }