.home-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

.home-background {
    background-image: url("/public/img-home.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    right: 0px;
}

.home-container img {
    width: auto;
    height: 15vh;
    margin-bottom: 50px;
}

.home-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;
}

.home-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.home-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.home-container h1 {
    text-align: center;
    font-size: 1rem;    
}

.home-container button {
    color: white;
    font-size: 1rem;
    background-color: var(--global-primary-color);
    width: 12rem;
    height: 3rem;
    border-radius: var(--global-border-radius);
    cursor: pointer;
    border: 1px solid var(--global-primary-color);
}

.home-container button:hover {
    color: var(--global-primary-color);
    background-color: var(--global-bg-color);
    border-color: var(--global-border-color);
}

@media (min-width: 600px) {
    .home-container h1 {
        font-size: 1.5rem;
    }

    .home-container img {        
        height: 20vh;        
    }

    .home-container button {
        font-size: 1.3rem;
        width: 15rem;
        height: 4rem;
    }
}


@media (min-width: 900px) {

    .home-container h1 {
        font-size: 2rem;
    }

    .home-container button {
        font-size: 1.3rem;
        width: 15rem;
        height: 4rem;
    }
}