.stepper-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.stepper-background {
    background-image: url("/public/img-home.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    right: 0px;
}

.stepper-container img {
    width: auto;
    height: 10rem;
}

.stepper-container a {
    text-decoration: none;
    font-size: 1rem;
    margin: 2px;
    text-align: center;
}

.stepper-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0vh;
    width: auto;
}

.stepper-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.stepper-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.stepper-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stepper-container h1 {
    font-size: 2.5rem;
    text-align: center;
}

.stepper-container button {
    margin-top: 3rem;
    color: white;
    font-size: 1rem;
    background-color: var(--global-primary-color);
    width: 12rem;
    height: 3rem;
    border-radius: var(--global-border-radius);
    cursor: pointer;
    border: 1px solid var(--global-primary-color);
    align-self: center;
    position: relative;
}

.stepper-container button span.icon {
    background: url("/public/flecha-derecha.png") no-repeat;
    float: left;
    width: 20px;
    height: 21px;
    background-size: cover;
    position: relative;
}

.stepper-container button:hover span.icon {
    background: url("/public/flecha-derecha-blue.png") no-repeat;
    float: left;
    width: 20px;
    height: 21px;       
    background-size: cover;
    position: relative;
}


.stepper-container button:hover {
    color: var(--global-primary-color);
    background-color: var(--global-bg-color);
    border-color: var(--global-border-color);
}

.stepper-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.with-margin-top {

    margin-top: 1rem;
}

.stepper-container h2 {
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: 4%;
    box-sizing: border-box;
    /* padding-left: 2.3rem; */
}

.stepper-container input[type="date"],
.stepper-container input[type="number"],
.stepper-container input[type="tel"],
.stepper-container input[type="email"],
.stepper-container input[type="password"],
.stepper-container input[type="text"] {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.3rem;
    font-size: 1.2rem;
    width: 85%;
    justify-content: flex-end;
    border: var(--global-border);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: 4%;
    box-sizing: border-box;
    min-width: none;
}

.stepper-container select:focus,
.stepper-container input:focus {
    outline: none;
}

.stepper-container input.error {
    border: 1px solid var(--global-error-color);
}

.stepper-middle select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    width: 85%;
    color: black;
    border: 0px;
    border: var(--global-border);
    background-repeat: no-repeat;
    background-size: 0.8rem;
    background-position: 4%;
    box-sizing: border-box;
    min-width: none;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: gray;
}

option:not(:first-of-type) {
    color: black !important;
}

.stepper-container select.error {
    border: 1px solid var(--global-error-color);
}

.stepper-container option[value=""][disabled] {
    display: none;
}

.stepper-container option {
    color: gray;
}

.terminos {
    width: 70%;
    margin-top: 1rem;
    font-size: 0.8rem;
}


@media (max-width: 400px) {

    .stepper-container h2,
    .stepper-middle select,
    .stepper-container input[type="date"],
    .stepper-container input[type="number"],
    .stepper-container input[type="tel"],
    .stepper-container input[type="email"],
    .stepper-container input[type="password"],
    .stepper-container input[type="text"] {
        width: 80vw;
        font-size: 1rem;
    }
}

@media (min-width: 400px) {

    .stepper-container h2.step4,
    .stepper-container h2,
    .stepper-middle select,
    .stepper-container input[type="date"],
    .stepper-container input[type="number"],
    .stepper-container input[type="tel"],
    .stepper-container input[type="email"],
    .stepper-container input[type="password"],
    .stepper-container input[type="text"] {
        width: 400px;
    }
}

@media (min-width: 600px) {

    .stepper-container h2.step4 {
        width: 500px;
    }

    .stepper-container a {
        font-size: 1.3rem;
    }

    .stepper-container button {
        font-size: 1.3rem;
        width: 15rem;
        height: 4rem;
    }

    .terminos {
        width: 80%;
        font-size: 1rem;
    }

}

@media (min-width: 900px) {
    .stepper-container h2.step4 {
        width: 550px;
    }

    .stepper-container a {
        font-size: 1.5rem;
    }

    .stepper-container button {
        font-size: 1.3rem;
        width: 15rem;
        height: 4rem;
    }

}