    
    .myCheckbox label {
        display: flex;        
        flex-direction: row;
        max-width: 400px;
        justify-content: left;
        align-items: left;        
    }
    
    .myCheckbox label input{
        width: 5%; 
        margin: 0;
        padding: 0;       
    }     
    
    .error-msg {
        color: var(--global-error-color);
        font-size: 1rem;        
    }    

    .terminos {
        width: 90%;        
    } 

    .check-box-field {
        display: flex;
        flex-direction: column;        
    }

    .check-box-field div {
        display: flex;
        flex-direction: row;        
        align-items: center;
    }

    .check-box-field input[type="checkbox"] {        
        width: 1.5rem; 
        height: 1.5rem;
        margin-right: 5px;
    }

    .check-box-field label { 
        margin-top: 0px!important; 
        height: auto;       
    }    
    