    
    .myCheckbox div {
        display: flex;                
        max-width: 400px;
        justify-content: left;       
    }
    
    .myCheckbox div input{
        width: 5%; 
        margin-top: 1rem;                       
        margin-left: 2rem;
    }     
    
    .error-msg {
        color: var(--global-error-color);
        font-size: 1rem;  
        padding-left: 2rem;      
    }       

    .check-box-field {
        display: flex;
        flex-direction: column;        
    }

    .check-box-field div {
        display: flex;        
        align-items: center;
    }

    .check-box-field input[type="radio"],
    .check-box-field input[type="checkbox"] {        
        width: 1.5rem; 
        height: 1.5rem;
        margin-right: 5px;
        -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
        -moz-appearance: checkbox;    /* Firefox */
        -ms-appearance: checkbox;     /* not currently supported */
    }

    .check-box-field label { 
        margin-top: 0px!important; 
        height: auto;       
    }    

    img.wait-gif {
        z-index: -1;        
        height: 5rem!important;
        width: 50px!important;
        height: 50px!important; 
        margin: 0 auto;
    }
    
    