.register-container {
    position: relative;
    display: flex;    
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}
.register-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;
}

.register-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.register-down {    
    height: 10vh;    
}