.page1-container {
    position: relative;
    display: flex;    
    align-items: center;
    justify-content: center;    
    flex-direction: column;    
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;    
    }
    
    .page1-background {
    background-image:  url("/public/img-home.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    right: 0px;
    }
    
    .page1-container img {
        width: auto;        
        height: 10rem;
    }
    
    .page1-up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0vh;
        width: auto;
    }
    
    .page1-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: auto;
    }
    
    .page1-down {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .page1-container form {        
        display: flex;                
        flex-direction: column;  
        width: 100%;          
    }
    
    .page1-container h1 {
        font-size: 2.5rem;    
        text-align: center;
    }
    
    .page1-container button {  
        margin-top: 3rem;  
        color: white;
        font-size: 2rem;
        background-color: var(--global-primary-color);
        width: 22rem;
        height: 5rem;
        border-radius:  var(--global-border-radius);    
        cursor: pointer;
        border: 1px solid var(--global-primary-color);
        align-self: center;            
    }
    
    .page1-container button:hover {    
        color: var(--global-primary-color); 
        background-color: var(--global-bg-color);    
        border-color: var(--global-border-color);
    }    

    .page1-container label {
        margin-top: 1rem;
    }

    .page1-container input {
        padding: 0.8rem;
        font-size: 1.2rem;
        width: 90%;  
        border: var(--global-border);
        border-radius: var(--global-border-radius);                     
    }  
    
    .page1-container input.error {
        border: 1px solid var(--global-error-color);
    }

    .page1-middle select {
        padding: 0.9rem;
        font-size: 1.2rem;
        width: 97%;
        color: var(--global-select-option-color);        
        border: var(--global-border);
        border-radius: var(--global-border-radius); 
    } 
    
    .page1-container select.error {
        border: 1px solid var(--global-error-color);
    }

    .myCheckbox label {
        display: flex;        
        flex-direction: row;
        max-width: 400px;
        justify-content: left;
        align-items: left;        
    }
    
    .myCheckbox label input{
        width: 5%; 
        margin: 0;
        padding: 0;       
    }
    .terminos {
        width: 90%;        
    }  

    .error-msg {
        color: var(--global-error-color);
        font-size: 1rem;        
    }

    .no-error-msg {                
        font-size: 0.8rem; 
        display: hidden;
    }

    @media (min-width: 900px)
    {    
        .page1-container button {   
            font-size: 1.2rem;
            width: 15rem;
            height: 3.5rem;          
        }

        .myCheckbox {
            max-width: 600px;
        }
    }