

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  font-family: "Nunito", sans-serif;
}

:root {
  --global-primary-color: #0062FF;
  --global-secundary-color: #0098C9;  
  --global-dark-color: #002C75;  
  --global-bg-color: white;
  --global-bg-color-soft: #fafafa;
  --global-bg-color-soft-alpha: #fafafaBB;
  --global-disabled-color: #afafaf;
  --global-disabled-text-color: #444444;
  --global-radius: 8px;
  --global-border: 1px solid #afafaf; 
  --global-border-color: #afafaf;
  --global-select-option-color: #000000;
  --global-border-radius: 5px;
  --global-border-error: 1px solid red; 
  --global-error-color: red;
}

body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
